@charset "UTF-8";
/*字体大小*/
/*灰色字体颜色*/
/*白色字体*/
/*黑色字体*/
/*按钮灰色边框*/
/*蓝色边框颜色*/
/*蓝色字体颜色*/
/*group 底部边框颜色*/
/*header背景*/
/*搜索框border颜色*/
/*banner buttle*/
/*orange line颜色*/
/*line bottom颜色*/
/* 书背景*/
/* 书边框颜色 */
/*书的阴影*/
/*绿色标签颜色*/
/*限免tag背景*/
/*按钮背景颜色*/
/*按钮border颜色*/
/*标签背景*/
/*标签背景色*/
/*详情界面*/
/* 阅读界面 */
/*阅读界面标题*/
/*超过几行显示省略号*/
/*背景*/
/* 滚动 */
/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body, .wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 2.4rem;
}

.header .top-nav {
  height: 1.33333rem;
  width: 100%;
  padding-left: 0.26667rem;
  padding-top: 0.21333rem;
}

.header .top-nav img {
  width: 1.6rem;
}

.header .bottom-nav {
  width: 100%;
  height: 1.06667rem;
}

.header .bottom-nav .nav-list {
  height: 100%;
  display: flex;
}

.header .bottom-nav .nav-list li {
  text-align: center;
  font-size: 0.42667rem;
  flex: 1;
  color: #8E8E8E;
  line-height: 0.96rem;
}

.header .bottom-nav .nav-list li.bg {
  color: #FB7299;
}

.header .bottom-nav .nav-list li.bg:after {
  content: "";
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  display: block;
  height: 0.05333rem;
  background: #FB7299;
}

.header .bottom-nav .nav-list span {
  width: 1.06667rem;
  height: 1.06667rem;
  line-height: pxTrem(40px);
  display: inline-block;
  padding-top: 0.16rem;
}

.header .bottom-nav .nav-list span i.icon {
  font-size: 0.53333rem;
  color: #8E8E8E;
}

.center-nav {
  width: 100%;
  background: #fff;
  z-index: 99;
  position: absolute;
  width: 100%;
}

.center-nav ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.center-nav ul li {
  width: 16%;
  text-align: center;
  height: 0.8rem;
  line-height: pxTrem(30px);
  color: #898989;
  font-size: 0.42667rem;
}

.center-nav .btn-up {
  width: 100%;
  height: 0.8rem;
  text-align: center;
}

.center-nav .btn-up i.icon {
  color: #898989;
  font-size: 0.48rem;
}

.none {
  display: none;
}

section {
  flex: 1;
  overflow: hidden;
}

.scroll {
  width: 100%;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
}

.lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.lists dl {
  width: 46%;
  margin: 0 1%;
  margin: 0 auto;
  margin-bottom: 0.42667rem;
}

.lists dl dt img {
  width: 100%;
}

.lists dl dd {
  font-size: 0.42667rem;
  color: #212121;
}

.two-nav {
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
}

.two-nav ul {
  display: flex;
}

.two-nav ul li {
  flex-shrink: 0;
  flex: 1;
  text-align: center;
  font-size: 0.42667rem;
  color: #898989;
}
